[Unit]
Description=Regular ssh-reconfigure timer
#Requires=ssh-tunnel-reconfigure.service

[Timer]
Unit=ssh-tunnel-reconfigure.service
OnBootSec=2m
OnCalendar=*-*-* 00:00:00 UTC
OnUnitInactiveSec=33m
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
