# SSH config
# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
Port 22
# Use these options to restrict which interfaces/protocols sshd will bind to
#ListenAddress ::
#ListenAddress 0.0.0.0
Protocol 2
# HostKeys for protocol version 2
HostKey /etc/persistent/ssh/ssh_host_rsa_key
HostKey /etc/persistent/ssh/ssh_host_dsa_key
HostKey /etc/persistent/ssh/ssh_host_ecdsa_key
HostKey /etc/persistent/ssh/ssh_host_ed25519_key

# Lifetime and size of ephemeral version 1 server key
#KeyRegenerationInterval 3600
#ServerKeyBits 1024

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
LoginGraceTime 30
PermitRootLogin without-password
StrictModes yes

#RSAAuthentication yes
PubkeyAuthentication yes
#AuthorizedKeysFile    %h/.ssh/authorized_keys
AuthorizedKeysCommand /usr/local/bin/sat-authorized_keys
AuthorizedKeysCommandUser nobody

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes
#RhostsRSAAuthentication no
HostbasedAuthentication no
#IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication no
UsePAM yes

# Kerberos options
KerberosAuthentication no
#KerberosGetAFSToken no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes

# GSSAPI options
GSSAPIAuthentication no
#GSSAPICleanupCredentials yes

X11Forwarding no
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
#TCPKeepAlive yes
ClientAliveInterval 299
ClientAliveCountMax 3
ClientAliveInterval 299
ClientAliveCountMax 3
#UseLogin no

#MaxStartups 10:30:60
#Banner /etc/issue.net

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

# restrict users
AllowUsers root promitilus-*
AllowGroups root promitilus ansible
